/* Estilos generales */
.game-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Barra de navegación */
.game-nav {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Área de juego principal */
.game-board {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #f0f0f0;
}

/* Sección de la tarjeta de bingo */
.bingo-card-section {
    max-width: 300px;
    width: 30%;
    background-color: #f8f0ff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabecera de la tarjeta de bingo */
.bingo-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bingo-header-cell {
    width: 50%;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

/* Tarjeta de bingo */
.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.bingo-cell {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingo-cell.marked {
    background-color: #adff2f;
}

/* Sección lateral */
.side-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mensaje */
.message-container {
    background-color: #ff6347;
    color: white;
    padding: 10px;
    border-radius: 50px;
    margin-bottom: 20px;
    width: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.current-ball-container {
    background-color: #ffa500;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.current-ball {
    font-size: 24px;
    padding: 15px;
    background-color: #f77802fa;
    color: white;
    font-weight: bold;
}

/* Botón de Bingo */
.bingo-button {
    background-color: #28a745;
    padding: 15px 32px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: #f0f0f0;
    font-size: 20px;
}

.bingo-button:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.bingo-button:active {
    background-color: #397d35;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.players-list-section {
    width: 30%;
    background-color: #d0f0c0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* Lista de jugadores */
.players-list {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: auto;
    text-align: center;
}

/* Pie de página */
.footer-game {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: static;
    width: 100%;
}

/* Ajustes de respuesta para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
    .game-board {
        flex-direction: column;
    }

    .bingo-card-section,
    .side-section {
        flex-grow: 0;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}