/* Estilos generales */
.container-game {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

.game-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    color: white;
    position: fixed;
    width: 100%;
    background-color: #333;
    background-image: linear-gradient(to right, #4b6cb7, #182848);
    text-align: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
}

.game-nav h1 {
    margin: 0;
    font-size: 1.5em;
}

.user-info {
    font-size: 1em;
    font-weight: normal;
}

/* Sección de la tarjeta de bingo */
.bingo-card-section {
    max-width: 300px;
    width: 30%;
    background-color: #f8f0ff;
    border-radius: 10px;
    padding: 20px;
}

/* Cabecera de la tarjeta de bingo */
.bingo-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.bingo-header-cell {
    width: 50%;
    text-align: center;
    font-size: 1.4em;
    font-weight: bold;
}

/* Tarjeta de bingo */
.bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.bingo-cell {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bingo-cell.marked {
    background-color: #adff2f;
}

/* Sección lateral */
.side-section {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Mensaje */
.message-container {
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-weight: bold;
}

.current-ball-container {
    background-color: #ffa500;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.current-ball {
    font-size: 24px;
    padding: 15px;
    background-color: #f77802fa;
    color: white;
    font-weight: bold;
}

/* Botón de Bingo */
.bingo-button {
    background-color: #28a745;
    padding: 15px 32px;
    border-radius: 15px;
    color: #f0f0f0;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.bingo-button:hover {
    background-color: #0026a5;
}

.players-list-section {
    width: 30%;
    background-color: #d0f0c0;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

/* Lista de jugadores */
.players-list {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: auto;
    text-align: center;
}

/*Seleccionar tipo de juego*/
.game-type-selection {
    margin-top: 20px;
    text-align: center;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.game-type-selection label {
    font-size: 16px;
    color: #333;
    font-weight: bold;
}

.game-type-selection select {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.game-type-selection select:focus {
    outline: none;
    border-color: #007bff;
}

/* Ajustes de respuesta para tamaños de pantalla más pequeños */
@media (max-width: 768px) {
    .game-board {
        flex-direction: column;
    }

    .bingo-card-section,
    .side-section {
        flex-grow: 0;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
}