.container-lobby {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.lobby-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  color: white;
  position: fixed;
  width: 100%;
  background-color: #333;
  background-image: linear-gradient(to right, #4b6cb7, #182848);
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  font-family: 'Arial', sans-serif;
}

.lobby-nav h1 {
  margin: 0;
  font-size: 1.5em;
}

.user-info {
  font-size: 1em;
  font-weight: normal;
}

.layout-lobby {
    text-align: center;
    padding: 30px;
    background-color: #2733d6fb;
    background-image: linear-gradient(to right top, #355bdc, #5075d9, #688ed6, #80a8d3, #99c1d1);
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 2);
  }

  .layout-lobby:hover {
    transform: translateY(-1%) scale(1.03);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  }

  .lobby-header {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
  }

  .lobby-timer {
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .lobby-timer p {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .lobby-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.lobby-button:hover {
  background-color: #d15e00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}