/* Estilo general del formulario */
.login-form {
    max-width: 350px;
    margin: 100px auto;
    padding: 25px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    font-family: 'Arial', sans-serif;
    text-align: center;
}

/* Estilo para los inputs del formulario */
.login-form input[type="email"],
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

/* Estilo para el icono de contraseña */
.password-input-container {
    position: relative;
}

.password-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #717171;
}

/* Estilo para el botón de inicio de sesión */
.login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-form button:hover {
    background-color: #0056cc;
}

/* Estilo para mensajes de error */
.login-form p {
    color: #d9534f;
}


.login-form label {
    margin-left: 5px;
}

/* Estilo para el enlace a registro */
.login-form span {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

/* Estilo para la opción recuérdame */
.login-form div {
    margin: 20px 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}